<CascadingAuthenticationState>
    <AuthorizeView>
    <Authorized>
        @context.User.Identity.Name
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>
</CascadingAuthenticationState>