@page "/about"

<PageTitle>About</PageTitle>

<div style="text-align:center;margin-top:20%;">
    <MudText Typo="Typo.h6">Dalapagos Tunneling</MudText>
    Powered by 
    <MudElement HtmlTag="a"
                Class="ms-1"
                Style="color:red;font-weight:bold;"
                href="https://kb.openrport.io/"
                target="blank"
                rel="noopener noreferrer">
        OpenRPort
    </MudElement>
</div>